<div class="ivp-card--large">
  <div class="ivp-card-content">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-12 ivp-end-card-text">
          <h3>Included in this Bundle</h3>
        </div>
        <div class="ivp-col-12 ivp-end-card-image">
          <img src="images/endscreen.png">
        </div>
      </div>
    </div>
  </div>
  <!-- / .ivp-card-content -->
  <div class="ivp-gopro-card-footer">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-6">
          <h3 class="ivp-gopro-bundle-name">SkyDiving Bundle</h3>
          <p class="ivp-gopro-card-price">US$29.99</p>
        </div>
        <div class="ivp-col-6">
          <div class="ivp-card-ctas"><a class="ivp-card-cta ivp-card-cta--primary" href="#" target="_blank">Add Bundle To Cart</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- / .ivp-gopro-card-footer -->
</div>

<div class="ivp-card--large">
  <div class="ivp-card-content">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-12 ivp-end-card-text">
          <h3>Included in this Bundle</h3>
        </div>
        <div class="ivp-col-12 ivp-end-card-image">
          <img src="${image}">
        </div>
      </div>
    </div>
  </div>
  <div class="ivp-gopro-card-footer">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-6">
          <h3 class="ivp-gopro-bundle-name">${bundle}</h3>
          <p class="ivp-gopro-card-price">${price}</p>
        </div>
        <div class="ivp-col-6">
          <div class="ivp-card-ctas"><a class="ivp-card-cta ivp-card-cta--primary" href="#" target="_blank">Add Bundle To Cart</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
